*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth ;
}
body{
    background: black;
    color: white;
}
/* section{
    border: 10px solid white;
    height: 100vh;
} */
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:black;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

.crc{
    border: 5px solid white;
    width: 500px;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.txt1{
    color: #ff004f;
    text-align: center;
}
.txt{
    text-align: center;
}